* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #a8ecff 0%, #00b8fb 70%);
  background-size: 100%;
}
p{
  margin: 0;
  padding: 0;
}
.reloj{
  font-family: 'Share Tech Mono', monospace;
  color: black;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 20px rgba(10,175, 230,1), 0 0 20px rgba(10,175, 230,0) ;
}
.tiempo{
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
.fecha{
  letter-spacing: 0.1em;
  font-size: 24px;
}